

 

.navbar{
  background-color: black;
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.header{
width: 100%;
display: flex;
 justify-content: space-between; 

}
.header ul{
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  justify-content: space-between; 
  padding-left: 100px;

}
.Icons{
  display: flex;
  justify-content: end;
  margin-left: 140px;
}